@model Project_Test.Models.Donation_Box

@{
    ViewData["Title"] = "Reject";
    Layout = "~/Views/Shared/Bank_Layout.cshtml";
}

<h2>Reject</h2>

<h4>Donation_Box</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Rejection_Reason" class="control-label"></label>
                <textarea asp-for="Rejection_Reason" class="form-control"></textarea>
                <span asp-validation-for="Rejection_Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reject" class="btn btn-danger" />
                <a asp-action="Donations" asp-controller="ReciptionBank">Cancel</a>
            </div>
        </form>
    </div>
</div>