@model Project_Test.Models.ViewModels.LoginBankViewModel

@{
    ViewData["Title"] = "Login_ReciptionBank";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-image: url('@Url.Content("~/assets/backrecep.png")');
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            margin-top: 50px;
            color: green; /* Red color for the title */
        }

        hr {
            border-color: lightgreen;
            margin-bottom: 30px;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .col-md-4 {
            width: 400px;
        }

        .form-group label {
            font-weight: bold;
            font-size: 18px;
            color: white; /* Dark color for the label */
        }

        .form-control {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-color: black;
            border-radius: 3px;
            font-size: 16px;
            background-color: transparent;
            color: #333; /* Dark color for the input text */
            transition: border-color 0.3s ease-in-out; /* Add transition for smooth hover effect */
        }

            .form-control:focus {
                outline: none;
                border-color: #45A049; /* Change border color on focus */
                box-shadow: 0 0 5px rgba(69, 160, 73, 0.9); /* Add box shadow on focus */
            }

            .form-control:hover {
                background-color: rgba(255, 255, 255, 0.2); /* Set the background color on hover */
            }

        .text-danger {
            color: #FF5252; /* Red color for the validation error message */
        }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s ease-in-out; /* Add transition for smooth hover effect */
        }

            .btn-primary:hover {
                background-color: #45A049;
            }

        .btn-secondary {
            background-color: #999;
            border: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s ease-in-out; /* Add transition for smooth hover effect */
        }

            .btn-secondary:hover {
                background-color: #777;
            }

        .emoticon {
            font-size: 28px;
            margin-right: 5px;
        }

        .reg-hover {
            color: crimson;
        }

       
    </style>
</head>

<body>
    <h1>Login ReciptionBank Page</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login_ReciptionBank">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HospitalName" class="control-label"></label>
                    <input asp-for="HospitalName" class="form-control" />
                    <span asp-validation-for="HospitalName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign In" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="MyTemp" asp-controller="Home">Back</a><a asp-action="Register_ReciptionBank" asp-controller="Account">I Don't Have an Account'</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
